{
  "presets": [
    [
      "@babel/preset-react"
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "spec": true
      }
    ],
    [
      "@babel/plugin-transform-classes",
      {
        "loose": true
      }
    ]
  ]
}
