{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not ie <= 9"
          ]
        }
      }
    ],
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-3"
  ],
  "plugins": [
    ["transform-decorators-legacy", {
      "legacy": true
    }],
    [
      "transform-class-properties", {
        "spec": true
      }
    ],
    [
      "transform-es2015-classes",
      {
        "loose": true
      }
    ]
  ]
}